<!DOCTYPE html>
<html ng-app="sismiop">

<head>
    <title>Angular Test</title>
    <script src="angular.min.js"></script>
    <script src="angular-cookies.js"></script>
    <script src="jquery.js"></script>
    <script src="script.js"></script>
</head>

<body>
    <div ng-controller="menu">
        <input type="number" ng-model="uang"/>
      {{ uang | currency:"IDR ":2}}
      <button type="button" ng-click="saveCookie()">SAVE COOKIE</button>
      <button type="button" ng-click="removeCookie()">REMOVE COOKIE</button>
    </div>
</body>
</html>
