<div ng-controller="inputan">
    <input type="text" ng-value="inputStatis"/>
    <h1>{{inputStatis}}</h1>
    <br/>
    <select ng-model="inputSelect">
    	<option ng-repeat="key in dataSelectionKeys" ng-value="key">{{dataSelection[key]}}</option>
    </select>
    <br/>
    <label>
    	<input type="checkbox" ng-model="inputCheckbox"/>
    	Switch
    </label>
    <div ng-if="inputCheckbox">
    	<h2>Checked</h2>
    </div>
    <br/>
    <input type="number" min="0" max="1000" ng-model="inputNumber"/>
    {{ (inputNumber * inputNumber) | number:1}}
    <br/>
    <input type="date" ng-model="tanggalJadian"/>
    <br/>
    <input type="time" ng-model="inputTime"/>
    {{ inputTime | date: 'HH:mm:ss'}}
    <br/>
    <input type="text" ng-paste="inputPaste=true"/>
    Paste Ora ? {{inputPaste}}
    <br/>
    <input type="text" ng-cut="inputCut=true"/>
    Cut Ora ? {{inputCut}}
    <br/>
    <input type="text" ng-copy="inputCopy=true"/>
    Copy Ora ? {{inputCopy}}
</div>
